**Présentation du projet**
Bienvenue chez EPSI DEV! Votre première mission consiste à construire un modèle
des prix immobiliers en Californie en vous basant sur les données de recensement.
Ces données comportent un certain nombre de variables quantitatives telles que la
population, le revenu médian et le prix médian des habitations pour chacun des
“Blocks” recensés en Californie. Ces “Blocks” constituent la plus petite subdivision
pour laquelle les services américains du recensement publient des données(en
général, ils regroupent de 600 à 3000 personnes). Nous les appellerons “districts”
dans ce qui suit.
Votre modèle devra apprendre de ces données et être capable de prédire le prix
médian des habitations dans chaque district, en fonction des autres variables
connues.
Pour l’instant nous allons juste nous focaliser sur l’analyse exploratoire et le
nettoyage des données du dataset, le reste du travail sera fait par la suite lorsque
nous aurons assimiler des notions plus approfondies sur le machine learning.

In [3]:
# importation des biblio

import pandas as pd

In [12]:
#importation du jeu de données

df = pd.read_csv("housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND